* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    margin: 0;
}

.nav {
    /* background-color: #333; */
    background-color: #0058d4;
    /* color: #5b1e1e; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* gap: 2rem; */
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.logoSize {
    width: 3rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    /* gap: 1rem; */
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    /* background-color: #555; */
    background-color: #f479f3;
    /* border-top-right-radius: 20px; */
    border-top-left-radius: 20px;
    padding: 2px;
}

.nav li:hover {
    /* background-color: #777; */
    background-color: #f0a0f0;
}

.legend30 {
    background-color: #f8d7da;
}

.legend60 {
    background-color: #fff3cd;
}

.legend90 {
    background-color: #cff4fc;
}

.legendExp {
    background-color: black;
    color: white;
}

.clickable-row {
    cursor: pointer;
}

/* .hovered-row {
    background-color: rgb(147, 143, 143);
    cursor: pointer;
} */
    
